<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bangkit.gamastik">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gamastik"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="UnusedAttribute">
        <activity android:name=".ui.feature.discovery.byregion.BatikByRegionActivity" />
        <activity android:name=".ui.feature.batik.scanner.BatikScannerActivity" />
        <activity android:name=".ui.feature.batik.result.ScannerResultActivity" />
        <activity android:name=".ui.feature.recomendation.ProductRecomendationActivity" />
        <activity android:name=".ui.feature.quiz.quiztest.QuizTestActivity" />
        <activity android:name=".ui.feature.quiz.quizscore.QuizScoreActivity" />
        <activity android:name=".ui.feature.discovery.searchresult.SearchResultActivity" />
        <activity android:name=".ui.feature.discovery.batikdetail.BatikDetailActivity" />
        <activity android:name=".ui.feature.auth.register.RegisterActivity" />
        <activity android:name=".ui.feature.auth.login.LoginActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".ui.feature.intro.SplashActivity"
            android:theme="@style/Theme.Gamastik.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>